.my-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(60, 0, 144);
  background: linear-gradient(90deg, rgba(60, 0, 144, 1) 0%, rgba(0, 95, 255, 1) 51%, rgba(18, 255, 0, 1) 100%);
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  height: 150px;
}

.my-header__container {
  text-align: center;
  display: flex;
  /* position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0%, -50%); */
}
.my-header__title {
  margin-left: 30px;
  padding-left: auto;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}

/* .my-header__links {
  display: flex;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
}

.my-header__link{
  margin: 0 10px;
  text-decoration: none;
  color: white;
} */

.active {
  color: #000000;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  height: 100px;
}
